@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("imagens/img03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

header{
    background-color: rgb(196, 29, 29);
    text-align: center;
    padding-bottom: 80px;
    border: 3px solid brown;
    
}


section{
    max-height:auto ;
    max-width: 600px;
    padding: 20px;
    border:1px dotted rgba(151, 125, 125, 0.747);
    text-align: justify;
    background-color: rgba(252, 221, 175, 0.301);
    min-width: auto;
    display: block;
    background-position: center center;
    margin: auto;
    margin-bottom: 5px;
    

}

.p3{

}
section > h1{
    font-size: 2.2em;
}

p{
    font-weight: bold;
    font-family: Arial, Helvetica, serif;
    font-size: 1.3em;
}
footer{
    background-color:rgb(196, 29, 29) ;
    text-align: center;
    padding: 40px;
    font-weight: bold;
}