@charset "utf-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body, html {
    
    background-image: linear-gradient(to bottom,#4444e9, #64ec64);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 252px;
    height: 510px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #4444e9 url(../imag/pexels.jpg);
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: justify;
}

form > div.campo{
    background-color: #4444e9;
    border: 1px solid #4444e9;
    display: block;
    width: 100%;
    height: 40%;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo >input{
    font-size: 1em;
    width:calc(92% - 27px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 6px;
    transform: translateY(-10px);
    
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #64ec64;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: aquamarine;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #64ec64;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color:aquamarine;
}

form > a.botao > span {
    font-size: 0.9em;
}