@charset "utf-8";

body {
    background-image: linear-gradient(to left,rgb(163, 99, 134),
    white);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: blue;
}
h2 {
    color: #6363aa;
}
#pricinpal {
    background-color: rgb(142, 142, 185);
    color: rgb(4, 4, 78);
    text-align: center;
}
p{
    font-weight: bold;
}
.basico{
    color: rgb(5, 88, 94);
}